@model ProveedorTuTienditaPS4.Models.ViewModels.LoginViewModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Tu Tiendita PS4</title>
    <link rel="icon" href="~/Content/img/logo-redondo.ico" />
    <link href="~/Content/Login/css/style.css" rel="stylesheet" />

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Content/Login/js/index.js"></script>
    <script src="~/Scripts/_references.js"></script>
    <script src="~/Scripts/sweetalert.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div>
                <img id="logo" src="~/Content/img/logo.jpg" />
            </div>            
            <h1>Welcome</h1>
            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form", @id= "formLogin"}))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.TextBoxFor(c => c.Username, new { @type = "email", @placeholder = "Email", @maxlength = "50", @required = "required"})
                @Html.TextBoxFor(c => c.Password, new { @type = "password", @placeholder = "Password", @maxlength = "50" , @required = "required" })
                <button id="btn-login" type="submit" class="submint">Login</button>
            }
            @if (ViewBag.MensajeError != null)
            {
                <script>
                    swal("Error!", "@ViewBag.MensajeError", "error");
                </script>
            }
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    
</body>
</html>
